<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="iFactr.Utilities" publicKeyToken="e526c249adf1d396" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.6.0.22786" newVersion="3.6.0.22786" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MonoCross.Navigation" publicKeyToken="951ce2ca2159307c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.280" newVersion="2.1.0.280" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>