<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="iFactr.Touch" version="9.0.1.490" targetFramework="xamarinios10" />
  <package id="iFactr.UI" version="3.6.0.857" targetFramework="xamarinios10" />
  <package id="iFactr.Utilities" version="3.6.0.22786" targetFramework="xamarinios10" />
  <package id="iFactr.Utilities.Touch" version="3.6.0.22786" targetFramework="xamarinios10" />
</packages>