<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="iFactr.Droid" version="5.0.0.591" targetFramework="monoandroid60" />
  <package id="iFactr.UI" version="3.6.0.857" targetFramework="monoandroid60" />
  <package id="iFactr.Utilities" version="3.6.0.22786" targetFramework="monoandroid60" />
  <package id="iFactr.Utilities.Droid" version="3.6.0.22786" targetFramework="monoandroid60" />
</packages>