<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="iFactr.UI" version="3.6.0.857" targetFramework="wp81" />
  <package id="iFactr.Utilities" version="3.6.0.22786" targetFramework="wp81" />
  <package id="iFactr.Utilities.WinPhone" version="3.6.0.22786" targetFramework="wp81" />
  <package id="iFactr.WinPhone" version="8.1.3.267" targetFramework="wp81" />
</packages>